<div class="container">
    <h1>{{title}}</h1>
    <!-- The <router-outlet> tells the router where to display routed views. -->
    <!-- <router-outlet></router-outlet>-->
    <router-outlet></router-outlet>
    <app-messages></app-messages>
        <nav class="main-nav">
            <!-- routerLink attribute -->
            <a routerLink="/dashboard"><i class="fas fa-home"></i></a>
            <a routerLink="/plants"><i class="fas fa-leaf"></i></a>
            <a routerLink="/dashboard">Dashboard2</a>
            <a routerLink="/plants">Planten2</a>
        </nav>
</div>